Repository Gervi-Hera-Vitr/the-echoes-of-wasteland, changes with the labels that .github/labeler.yml gives for each.
All labels: root, actions, docs, structural

Moving the Echoes of Wasteland Site to its correct URL.
  .github/workflows/greetings.yml
  .gitignore
  docs/Gemfile
  docs/_config.yml
  docs/index.markdown
  gradle.properties
Labels: root, actions, docs

Correcting upgraded actions schema.
  .github/workflows/codacy.yml
  .github/workflows/gradle.yml
  .github/workflows/greetings.yml
  .github/workflows/jekyll-gh-pages.yml
  .github/workflows/label.yml
  .github/workflows/stale.yml
Labels: actions

Correcting upgraded actions schema. And corrected links.
  docs/_data/navigation.yml
Labels: docs

Fixing GH menu.
  docs/_data/navigation.yml
Labels: docs

Fixing GH menu.
  docs/_data/navigation.yml
Labels: docs

Fixing GH menu.
  docs/_data/navigation.yml
Labels: docs

Done migrating the site, added history, Hoping kids will continue.
  .run/Bundle Serve Local.run.xml
  README.md
  docs/_categories/launch.markdown
  docs/_data/lugaru.yml
  docs/_data/navigation.yml
  docs/_pages/about.markdown
  docs/_pages/archive-category.md
  docs/_pages/archive-portfolio.md
  docs/_pages/community.markdown
  docs/_pages/contributing.markdown
  docs/_pages/support.markdown
  docs/_plugins/expand_nested_variable_filter.rb
  docs/_posts/2024-08-13-welcome-to-echoes.markdown
  docs/_posts/2024-08-14-launching-echoes.markdown
  docs/_posts/2024-08-15-anominous-joins.markdown
  docs/index.markdown
  docs/rezs/images/again-avatar.png
  docs/rezs/images/gervi-avatar.png
  docs/rezs/images/latlag-avatar.png
  docs/rezs/images/mimis-gildi-avatar.png
  docs/rezs/images/mimis-gildi.png
  docs/rezs/images/scala-avatar.png
  docs/rezs/images/slug-again-avatar.png
  docs/rezs/images/slug-gervi-avatar.png
  docs/rezs/images/slug-latlag-avatar.png
  docs/rezs/images/slug-mimis-gildi-avatar.png
  docs/rezs/images/slug-scala-avatar.png
Labels: root, docs

Add Codacy badge
  README.md
Labels: root

All badged up.
  README.md
  SECURITY.md
Labels: root

Fixed badge labels
  .github/workflows/codacy.yml
  README.md
Labels: root, actions

Corrected Gemfile and dependencies
  docs/Gemfile
  docs/_plugins/expand_nested_variable_filter.rb
Labels: docs

Correcting code scan triggers
  .github/workflows/codacy.yml
  .github/workflows/codeql.yml
Labels: actions

Pushing renovate configuration
  renovate.json
Labels: root

Styling fixes
  docs/_categories/launch.markdown
  docs/_pages/archive-category.md
  docs/_pages/archive-portfolio.md
  docs/_pages/archive-tags-gaming.md
  docs/_pages/archive-tags-markup.md
  docs/_pages/archive-tags.md
  docs/_pages/archive-year.md
  docs/_pages/community.markdown
  docs/_pages/contributing.markdown
  docs/_pages/support.markdown
  docs/index.markdown
Labels: docs

Added comments.
  docs/_plugins/expand_nested_variable_filter.rb
Labels: docs

Added scan to gradle.
  .github/workflows/gradle.yml
Labels: actions

10 correct all of the security issues on the echoes of wasteland fix workflow names (#11)
  .github/workflows/codacy.yml
  .github/workflows/codeql.yml
  .github/workflows/gradle.yml
  README.md
  docs/Gemfile
  docs/_categories/launch.markdown
  docs/_pages/archive-category.md
  docs/_pages/archive-portfolio.md
  docs/_pages/archive-tags-gaming.md
  docs/_pages/archive-tags-markup.md
  docs/_pages/archive-tags.md
  docs/_pages/archive-year.md
  docs/_pages/community.markdown
  docs/_pages/contributing.markdown
  docs/_pages/support.markdown
  docs/_plugins/expand_nested_variable_filter.rb
  docs/index.markdown
  renovate.json
Labels: root, actions, docs

Corrected indents.
  .github/workflows/gradle.yml
  docs/Gemfile
  docs/_plugins/expand_nested_variable_filter.rb
Labels: actions, docs

Added editor config.
  .editorconfig
  .gitignore
  .run/actions-versions.run.xml
  charter.adoc
  docs/.gitignore
  src/main/python/actions-versions.py
  src/main/sh/build-scan.sh
Labels: root, docs

Configured editor and buildScan
  build.gradle.kts
  gradle.properties
  settings.gradle.kts
Labels: root

Build fix.
  build.gradle.kts
Labels: root

10 correct all of the security issues on the echoes of wasteland fix workflow names (#12)
  .editorconfig
  .github/workflows/gradle.yml
  .gitignore
  .run/actions-versions.run.xml
  build.gradle.kts
  charter.adoc
  docs/.gitignore
  docs/Gemfile
  docs/_plugins/expand_nested_variable_filter.rb
  gradle.properties
  settings.gradle.kts
  src/main/python/actions-versions.py
  src/main/sh/build-scan.sh
Labels: root, actions, docs

Updated renovate configuration.
  .github/renovate.json
Labels: actions

Synchronizing projects
  .run/Bundle Install.run.xml
  .run/Bundle List.run.xml
  .run/Bundle Serve Local.run.xml
  .run/Bundle Update.run.xml
  .run/Main.run.xml
  .run/Remove Local Site.run.xml
  .run/actions-versions.run.xml
  .sdkmanrc
Labels: root

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: '*'

actions:
  - changed-files:
      - any-glob-to-any-file: '.github/**'

docs:
  - changed-files:
      - any-glob-to-any-file: 'docs/**'

structural:
  - changed-files:
      - any-glob-to-any-file: ['about.text', 'about.txt']

release:
  - base-branch: 'main'
